body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background: rgb(165, 165, 165);
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: white;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square[val="null"],.square[val=flag] {
  background: rgb(145, 188, 201);
  box-shadow: inset -1px -1px rgb(61, 61, 61), inset 1px 1px rgb(224, 224, 224);
}

.square[val=mine] {
  background: rgb(167, 48, 48);
}

.square[val="1"] {
  color: darkblue;
}

.square[val="2"] {
  color: darkgreen;
}

.square[val="3"] {
  color: darkred;
}

.square[val="4"] {
  color: rgb(0, 0, 68);
}

.square[val="5"] {
  color: rgb(58, 0, 0);
}

.square[val="6"] {
  color: darkcyan;
}

.square[val="7"] {
  color: darkorchid;
}

.square[val="8"] {
  color: brown;
}

.square:hover {
  background: rgb(123, 159, 172);
}

.square:active {
  box-shadow: inset -1px -1px rgb(224, 224, 224), inset 1px 1px rgb(61, 61, 61);
  background: rgb(123, 159, 172);
}

.square:focus {
  outline: none;
}

.board-row>.win {
  background: rgb(77, 186, 253);
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
